In [1]:
%load_ext sql

In [2]:
# %sql dialect+driver://username:password@host:port/database
%sql postgresql://postgres:iEchu133@localhost/nhldb

In [3]:
%sql SELECT * FROM teams;

 * postgresql://postgres:***@localhost/nhldb
31 rows affected.

[('t - 1', 'New Jersey Devils'),
 ('t - 2', 'New York Islanders'),
 ('t - 3', 'New York Rangers'),
 ('t - 4', 'Philadelphia Flyers'),
 ('t - 5', 'Pittsburgh Penguins'),
 ('t - 6', 'Boston Bruins'),
 ('t - 7', 'Buffalo Sabres'),
 ('t - 8', 'Montral Canadiens'),
 ('t - 10', 'Toronto Maple Leafs'),
 ('t - 15', 'Washington Capitals'),
 ('t - 16', 'Chicago Blackhawks'),
 ('t - 17', 'Detroit Red Wings'),
 ('t - 19', 'St. Louis Blues'),
 ('t - 20', 'Calgary Flames'),
 ('t - 22', 'Edmonton Oilers'),
 ('t - 23', 'Vancouver Canucks'),
 ('t - 26', 'Los Angeles Kings'),
 ('t - 28', 'San Jose Sharks'),
 ('t - 9', 'Ottawa Senators'),
 ('t - 14', 'Tampa Bay Lightning'),
 ('t - 13', 'Florida Panthers'),
 ('t - 24', 'Anaheim Ducks'),
 ('t - 25', 'Dallas Stars'),
 ('t - 21', 'Colorado Avalanche'),
 ('t - 12', 'Carolina Hurricanes'),
 ('t - 18', 'Nashville Predators'),
 ('t - 29', 'Columbus Blue Jackets'),
 ('t - 30', 'Minnesota Wild'),
 ('t - 52', 'Winnipeg Jets'),
 ('t - 53', 'Arizona Coyotes'),
 ('t - 54', 'Vegas Golden Knights')]

In [4]:
%sql SELECT * FROM time;

 * postgresql://postgres:***@localhost/nhldb
37 rows affected.

[('t - 0', 19831984),
 ('t - 1', 19841985),
 ('t - 2', 19851986),
 ('t - 3', 19861987),
 ('t - 4', 19871988),
 ('t - 5', 19881989),
 ('t - 6', 19891990),
 ('t - 7', 19901991),
 ('t - 8', 19911992),
 ('t - 9', 19921993),
 ('t - 10', 19931994),
 ('t - 11', 19941995),
 ('t - 12', 19951996),
 ('t - 13', 19961997),
 ('t - 14', 19971998),
 ('t - 15', 19981999),
 ('t - 16', 19992000),
 ('t - 17', 20002001),
 ('t - 18', 20012002),
 ('t - 19', 20022003),
 ('t - 20', 20032004),
 ('t - 21', 20052006),
 ('t - 22', 20062007),
 ('t - 23', 20072008),
 ('t - 24', 20082009),
 ('t - 25', 20092010),
 ('t - 26', 20102011),
 ('t - 27', 20112012),
 ('t - 28', 20122013),
 ('t - 29', 20132014),
 ('t - 30', 20142015),
 ('t - 31', 20152016),
 ('t - 32', 20162017),
 ('t - 33', 20172018),
 ('t - 34', 20182019),
 ('t - 35', 20192020),
 ('t - 36', 20202021)]

In [9]:
%sql SELECT * FROM season_stats WHERE made_playoffs in (1) LIMIT 5;

 * postgresql://postgres:***@localhost/nhldb
5 rows affected.

[('s - 1', 't - 2', 't - 0', 80, 50, 26, 0, 104, 65.0, 4.463, 3.363, 1.3722, 22.5, 63, 66, 280, 81.5, 30.275, 33.3875, 0.791, 0.432, 0.853, 0.933, 0.857, 0.532, 0, 0, 0, 0.0, 14.7, 0.899, 25.824575, 30.015362500000002, 4, -0.010714285714285714, 1, 52.0),
 ('s - 2', 't - 3', 't - 0', 80, 42, 29, 0, 93, 58.1, 3.925, 3.8, 1.0392, 25.1, 74, 76, 295, 78.1, 31.8875, 31.55, 0.619, 0.421, 0.828, 0.969, 0.675, 0.467, 0, 0, 0, 0.0, 12.3, 0.88, 27.9653375, 27.764, 9, -0.006779661016949152, 1, 46.5),
 ('s - 3', 't - 4', 't - 0', 80, 44, 26, 0, 98, 61.3, 4.375, 3.625, 1.3646, 20.2, 64, 85, 317, 76.6, 36.75, 28.65, 0.667, 0.4, 0.813, 0.875, 0.72, 0.286, 0, 0, 0, 0.0, 11.9, 0.873, 32.37675, 25.01145, 10, -0.06624605678233439, 1, 49.0),
 ('s - 5', 't - 6', 't - 0', 80, 49, 25, 0, 104, 65.0, 4.2, 3.263, 1.1882, 24.0, 82, 56, 342, 83.1, 29.9625, 26.175, 0.814, 0.378, 0.865, 0.951, 0.674, 0.643, 0, 0, 0, 0.0, 14.0, 0.875, 25.76775, 22.903125, 6, 0.07602339181286549, 1, 52.0),
 ('s - 6', 't - 7', 't - 0', 80, 48, 25, 0, 103, 64.4, 3.938, 3.213, 1.221, 22.0, 71, 50, 323, 82.0, 29.8625, 26.8375, 0.737, 0.476, 0.88, 0.917, 0.692, 0.645, 0, 0, 0, 0.0, 13.2, 0.88, 25.920650000000002, 23.616999999999997, 7, 0.06501547987616099, 1, 51.5)]

In [11]:
%sql SELECT * FROM nhl_view LIMIT 5;

 * postgresql://postgres:***@localhost/nhldb
5 rows affected.

[('New York Islanders', 19831984, 80, 50, 26, 0, 104, 65.0, 4.463, 3.363, 1.3722, 22.5, 63, 66, 280, 81.5, 30.275, 33.3875, 0.791, 0.432, 0.853, 0.933, 0.857, 0.532, 0, 0, 0, 0.0, 14.7, 0.899, 25.824575, 30.015362500000002, 4, -0.010714285714285714, 1, 52.0),
 ('New York Rangers', 19831984, 80, 42, 29, 0, 93, 58.1, 3.925, 3.8, 1.0392, 25.1, 74, 76, 295, 78.1, 31.8875, 31.55, 0.619, 0.421, 0.828, 0.969, 0.675, 0.467, 0, 0, 0, 0.0, 12.3, 0.88, 27.9653375, 27.764, 9, -0.006779661016949152, 1, 46.5),
 ('Philadelphia Flyers', 19831984, 80, 44, 26, 0, 98, 61.3, 4.375, 3.625, 1.3646, 20.2, 64, 85, 317, 76.6, 36.75, 28.65, 0.667, 0.4, 0.813, 0.875, 0.72, 0.286, 0, 0, 0, 0.0, 11.9, 0.873, 32.37675, 25.01145, 10, -0.06624605678233439, 1, 49.0),
 ('Pittsburgh Penguins', 19831984, 80, 16, 58, 0, 38, 23.8, 3.175, 4.875, 0.6466, 20.9, 71, 86, 339, 76.0, 28.3375, 36.35, 0.316, 0.095, 0.421, 0.737, 0.364, 0.183, 0, 0, 0, 0.0, 11.2, 0.866, 25.1637, 31.479100000000003, 6, -0.04424778761061947, 0, 19.0),
 ('New Jersey Devils', 19831984, 80, 17, 56, 0, 41, 25.6, 2.888, 4.375, 0.678, 14.3, 52, 83, 363, 75.3, 26.3875, 32.0, 0.464, 0.077, 0.571, 0.765, 0.348, 0.188, 0, 0, 0, 0.0, 10.9, 0.863, 23.5112625, 27.616, 7, -0.08539944903581267, 0, 20.5)]